REACT_APP_API_BASE_URL=https://your-backend-domain.com

REACT_APP_REQUESTED_ADMIN_URL=https://your-backend-domain.com/admin
REACT_APP_REQUESTED_PARTICIPANT_URL=https://your-backend-domain.com/participant
REACT_APP_REQUESTED_ORGANIZER_URL=https://your-backend-domain.com/organizer
REACT_APP_REQUESTED_TOURNAMENT_URL=https://your-backend-domain.com/tournament
REACT_APP_REQUESTED_TICKET_URL=https://your-backend-domain.com/ticket

REACT_APP_TOURNAMENT_IMAGE_PATH=https://your-backend-domain.com/public
REACT_APP_PARTICIPANT_PATH=https://your-backend-domain.com/public
